.Addcal{
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.Addcal > form > input{
    width: 50%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    
}

.Addcal > form > button{
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    color: black;
    border: 1px solid gray;
    background-color: lightblue;
}